<%- include("header"); -%>
    <main class="main m-auto">
    <!-- to-do list header box -->
    <div class="box">
        <h1>
            <%= taskName %>
        </h1>
        <p>
            <%= weekDay %>
        </p>
    </div>

    <!-- to-do list task add here -->
    <div class="box">
        <% for (var i=0 ; i<todo.length ; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= todo[i] %>
                </p>
            </div>
            <% } %>

                <form class="form" action="/" title="To-do list" method="post">
                    <input type="text" placeholder="Type your tasks here" name="tasks">
                    <button type="submit" name="butto" value="<%= taskName%>">+</button>
                </form>
    </div>
    </main>
    <%- include("footer"); -%>